.product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;

  background-color: var(--color-light-green);

  @media (max-width: 900px){
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 16px;
    padding-bottom: 10px;
  }
  
  &__autor {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-grey);

   
  }
}